/* setting property variables for reused attributes */
:root {
    --primary-clr: #f0a436;
    --secondary-clr: #dadfea; 
}
/* Basic CSS RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

image {
    max-width: 100%;

}

body{
    min-height: 100svh;
}

.wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

.txt {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    padding: 1rem;
}

header, footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-clr);
}

header > * {
    margin: 0 5rem;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

nav ul li a {
    display: inline-block;
    text-decoration: none;
    color: #000000;
}

nav ul li a::after {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background: #3e3e3e;
    transition: width .4s ease-in;
}

nav ul li a:hover::after {
    width: 100%;
}

nav ul li a:visited {
    color: #000000;
}

nav ul li a:hover {
    color: #3e3e3e;
}

nav ul li a:active {
    color: #5f5f5f;
}

.hero-img {
    position: relative;
    display: flex;
    justify-content: center;
    background: url(/images/hero-image.jpg);
    background-size: cover;
    height: 80vh;
}

.hero-text {
    display: inline-flex;
    justify-content: center;
    position: absolute;
    bottom: 5rem;
    margin: 0 auto;
    text-transform: uppercase;
    font-weight: bolder;
}

.section-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 3rem 10%;
}

.section-container:nth-child(even) {
    background-color: var(--secondary-clr);
    margin: 0;
}

.section-container:last-of-type > .image-container .recipe-card img {
    padding: 5px;
    background-color: var(--secondary-clr);
}

.text-content {
    display: block;
    margin: 2rem 0;
}

.text-content h2 {
    font-size: 2rem;
    font-weight: bolder;
    margin-bottom: 1rem;
}

.text-content p {
    font-size: 1.25rem;
    line-height: 1.75rem;
    padding-right: 1rem;
}

.image-container {
    display: flex;
    gap: 1.25rem;
    flex-wrap: wrap;
}


.recipe-card {
    flex: 1;
    display: flex;
    flex-flow: wrap column;
}

.recipe-card img {
    flex: 1;
    width: 100%;
    height: auto;
    object-fit: cover;
}

footer > * {
    margin: 2rem 5rem;
}

footer ul {
    gap: 1.25rem;
}

footer ul li {
    font-size: .875rem;
}

footer h6 {
    font-size: 1.125rem;
    font-weight: 400;
}