/* setting property variables for reused attributes */
:root {
    --orange-clr: #f0a436;
    --gray-clr: #dadfea; 
    --accent-clr: #a73222;

    --section-subheader-text: 1.5rem;
    --section-main-text: 1.25rem;
    --section-sub-text: 1rem;

    --content-text: 1.15rem;

    --font-wght-bold: 600;
    --font-wght-regular: 400;

}
/* Basic CSS RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

image {
    max-width: 100%;
}

body{
    min-height: 100svh;
}

p {
    text-wrap: pretty;
}

.wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

.txt {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    padding: 1rem;
}

header, footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--orange-clr);
}

header > * {
    margin: 0 5rem;
}

.links ul {
    list-style-type: none;
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: #000000;
}

.links ul li a::after {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background: #3e3e3e;
    transition: width .4s ease-in;
}

.links ul li a:hover::after {
    width: 100%;
}

.links ul li a:visited {
    color: #000000;
}

.links ul li a:hover {
    color: #3e3e3e;
}

.links ul li a:active {
    color: #5f5f5f;
}

.bg-gray {
    background-color: var(--gray-clr);
}

.bg-img {
    position: relative;
    display: flex;
    justify-content: center;
    height: 80vh;
}

.hero {
    background: url(../images/hero-image.jpg);
    background-size: cover;
}

.recipe-img {
    background: url(../images/bengal-burger.jpg);
    background-size: cover;
    background-position: center;
}

.header-text {
    display: inline-flex;
    justify-content: center;
    position: absolute;
    bottom: 5rem;
    margin: 0 auto;
    text-transform: uppercase;
    font-weight: var(--font-wght-bold);
}

.checked {
    color: var(--accent-clr);
}

.section-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 3rem 10%;
}

.prep-box {
    display: flex;
    /* flex-flow: wrap row; */
    padding: 2rem 10% 1.5rem;
}

.prep-box h4 {
    font-size: var(--section-subheader-text);
    margin-bottom: 1rem;
}

.prep-info {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 1rem 4rem;
}

.ratings {
    align-items: center;
    padding-bottom: 1rem;
}

.save-print {
    display: flex;
    justify-content: center;
    align-items: center;
}
.save-print > * {
    margin: 0 .75rem;
}

.save-print button{
    cursor: pointer;
    border: 1px solid #7f2418;
    border-radius: 1rem;
    background-color: var(--accent-clr);
    color: #ffffff;
    padding: .5rem 1rem;
}

.fa {
    font-size: 1.5rem !important;
}

.section-container:last-of-type > .image-container .recipe-card img {
    padding: 5px;
    background-color: var(--gray-clr);
}

.section-container:last-of-type > .text-content p:first-of-type{
    margin-bottom: 2rem;
}

.ratings > *{
    margin-bottom: 1rem;
}

.ratings .fa {
    cursor: pointer;
}

.ratings .fa-star {
    font-size: .875rem;
}

.section-container h2 {
    font-size: 2.5rem;
}

.review-preview {
    font-size: .9rem;
    margin-left: .45rem;
}

.text-content {
    display: block;
    margin: 2rem 0;
}

.text-content h2 {
    font-size: 2rem;
    font-weight: var(--font-wght-bold);
    margin-bottom: 1rem;
}

.text-content p {
    font-size: var(--section-main-text);
    line-height: 1.75rem;
    padding-right: 1rem;
    text-align: left;
}

.image-container {
    display: flex;
    gap: 1.25rem;
    flex-wrap: wrap;
}

.recipe-card {
    flex: 1;
    display: flex;
    flex-flow: wrap column;
}

.recipe-card img {
    flex: 1;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.review {
    font-size: var(--section-main-text);
    font-weight: var(--font-wght-bold);
    text-align: center;
    color: #575757;
    margin: 0 10%;
    padding: 2rem 3rem;
}

.recipe-instructions {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.guide {
    flex:1;
    padding-right: 1rem;
}

.guide figcaption {
    font-size: var(--section-subheader-text);
    font-weight: var(--font-wght-bold);
    margin-bottom: 1rem;
}

.sub-caption {
    font-size: var(--content-text);
    font-weight: var(--font-wght-bold);
}

.guide ul p.sub-caption {
    margin-top: 1rem;
}

/* Setting my own counter for ol to not reset with break in list */
.guide ol {
    list-style: none;
}

.guide ol li::before {
    counter-increment: mycounter;
    content: counter(mycounter) ". ";
}

.guide ol:first-of-type {
    counter-reset: mycounter;
}

.guide li {
    font-size: var(--section-sub-text);
    list-style-position: inside;
}

.guide ol:first-of-type > li{
    margin-bottom: 1rem; 
}

.guide ol:last-of-type li {
    margin-bottom: 1rem;
}

footer > * {
    margin: 2rem 5rem;
}

footer ul {
    gap: 1.25rem;
}

footer ul li {
    font-size: .875rem;
}

footer h6 {
    font-size: 1.125rem;
    font-weight: var(--font-wght-regular);
}